
.foo {
	color: #ffff00;

	&__a {
		background-color: red; // @theme

		&--b {
			background-color: green; // @theme

			&.c {
				background-color: blue; // @theme
			}
		}
	}
}

.foo2 {
	color: #ffff00; // @theme
}