
.foo {
	color: #ffff00;
	@include size(100%); // @theme
	@include position(absolute, 0 null null 0);

	@for $i from 1 through 3 {
		.item-#{$i} {
			width: 2em * $i; // @theme
		}
	}

	@if 5 < 3 {
		border: 1px dotted; // @theme
	}

	@if 5 > 3 {
		border: 2px dotted;
	}
}